<div class="account card border-0 w-100 ">
    <!-- uploaded new photo and reset details -->
    <h3 class="m-4">Account Details</h3>
    <div class="row">
        <div class="col-md-2">
            <img src="https://sneat-vuetify-admin-template.vercel.app/assets/avatar-1-19a9226d.png"
                alt="avatar-1-19a9226d" height="100px" width="100px" class="avtar">
        </div>
        <div class="col-md-10">
            <div class="d-flex">
                <button mat-raised-button color="primary">UPLOAD NEW PHOTO</button>
                <button mat-stroked-button color="warn" style="margin-left: 15px;">RESET</button>
            </div>
            <p class="mt-4">Allowed JPG, GIF or PNG. Max size of 800K</p>
        </div>
        <hr>
    </div>


    <!-- form account details -->

    <div class="row">
        <form #myForm="ngForm">
            <div class="d-flex">
                <input type="text" placeholder={{username}} name="firstName" class="input-form" ngModel required disabled> 
                <input type="text"  name="lastName" class="input-form" ngModel required disabled>
            </div>
            <div class="d-flex">
                <input type="email" name="email" placeholder={{email}} class="input-form" ngModel required disabled>
                <input type="text" name="organization"  class="input-form" ngModel  disabled>
            </div>
            <div class="d-flex">
                <input type="tel" id="phoneNumber" name="phoneNumber"  class="input-form" ngModel disabled >
                <input type="text" name="address"  class="input-form" ngModel disabled>
            </div>
            <div class="d-flex">
                <input type="text" name="state"  class="input-form" ngModel disabled>
                <input type="number" name="zip"  class="input-form" ngModel disabled>
            </div>
            <div class="d-flex">
                <div class="form-group input-form">
                    <label for="exampleFormControlSelect1"></label>
                    <select class="form-control" id="exampleFormControlSelect1" style="margin-top: -28px; border: none;" disabled>
                      <option>UK</option>
                      <option>Canda</option>
                      <option>USA</option>
                      <option>AUstralia</option>
                    </select>
                  </div>
                <div class="form-group input-form" >
                    <label for="exampleFormControlSelect1"></label>
                    <select class="form-control" id="exampleFormControlSelect1" style="margin-top: -28px; border: none;" disabled>
                      <option>English</option>
                      <option>hindi</option>
                      <option>Spanish</option>
                      <option>Urdu</option>
                    </select>
                  </div>
                
                  
            </div>
        </form>
    </div>
    
    <div class="d-flex">
        <button mat-raised-button color="primary" class="m-4" (click)="saveChanges(myForm.value)" disabled>SAVE CHANGES</button>
        <button mat-stroked-button color="Light" class="m-4" (click)="resetForm(myForm)" disabled>RESET</button>
    </div>
    
</div>


<div class="deactivate card border-0 w-100">
    <h3 class="m-4">Deactivate Account</h3>

    <div class="d-flex" style="margin-left: 20px;">
        <input type="checkbox" name="checkbox">
        <p style="margin-top: 15px; margin-left: 20px;">I confirm my account deactivate</p>
    </div>
    <button mat-raised-button color="warn" class="w-25 m-3">Warn</button>
</div>