<div class="footer">
    <div class="row">
        <div class="col-sm-4">
            <div class="m-3">
                <p> © 2024 Made WithBy <span style="color: rgb(107, 107, 158);">ThemeSelection</span></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="m-3">
                <p> Distributed By <span style="color: rgb(107, 107, 158);">ThemeWagon</span></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="m-3">
                <span style="color: rgb(107, 107, 158); word-spacing: 20px;">License  More-Themes    Documentation</span>
            </div>
        </div>
    </div>
</div>