<nav>
    <div class="layout-nav">
        <div class="logo">
            <h1>sneat</h1>
        </div>
        <div>
            <a routerLink="">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">home</mat-icon>
                    <div matListItemTitle class="matitem">Dashboard</div>
                </mat-list-item>
            </a>
            <a routerLink="account">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">settings</mat-icon>
                    <div matListItemTitle class="matitem">Account setting</div>
                </mat-list-item>
            </a>
            <p>PAGES</p>

            <a routerLink="login">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">login</mat-icon>
                    <div matListItemTitle class="matitem">Login</div>
                </mat-list-item>
            </a>
            <a routerLink="register">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">group_add</mat-icon>
                    <div matListItemTitle class="matitem">Register</div>
                </mat-list-item>
            </a>
            <a routerLink="**">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">error_outline</mat-icon>
                    <div matListItemTitle class="matitem">Error</div>
                </mat-list-item>
            </a>
            <p>USER INTERFACE</p>
            <a routerLink="typography">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">title</mat-icon>
                    <div matListItemTitle class="matitem">Typography</div>
                </mat-list-item>
            </a>
            <a routerLink="icons">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">remove_red_eye</mat-icon>
                    <div matListItemTitle class="matitem">Icons</div>
                </mat-list-item>
            </a>
            <a routerLink="cards">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">credit_card</mat-icon>
                    <div matListItemTitle class="matitem">Cards</div>
                </mat-list-item>
            </a>
            <a routerLink="tables">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">table_chart</mat-icon>
                    <div matListItemTitle class="matitem">Tables</div>
                </mat-list-item>
            </a>
            <a routerLink="form-layout">
                <mat-list-item class="matlist">
                    <mat-icon matListItemIcon class="maticon">event_note</mat-icon>
                    <div matListItemTitle class="matitem">Form Layouts</div>
                </mat-list-item>
            </a>
            <img class="upgrade"
                src="https://sneat-vuetify-admin-template.vercel.app/assets/upgrade-banner-light-68cf2382.png"
                alt="upgrade-banner-light-68cf2382">
        </div>
    </div>
</nav>