<h5 class="m-4">Basic Table</h5>
<label for="search">Search by name and number : </label>
<input type="text" placeholder="Search here your name and phoneNumber" [(ngModel)]="searchText"
    (ngModelChange)="SearchItem($event)" />

<ngx-datatable class="material mt-4" [rows]="newadmin" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
    [rowHeight]="50" [scrollbarV]="false">

    <!-- ID COLUMN -->
    <ngx-datatable-column name="id" prop="id">
    </ngx-datatable-column>

    <!-- NAME COLUMN -->
    <ngx-datatable-column name="fullName" prop="fullName" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span (click)="sorting(column.name)">
                {{column.name}}
            </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span>
                {{row.fullName}}
            </span>
        </ng-template>
    </ngx-datatable-column>

    <!-- E-MAIL COLUMN -->
    <ngx-datatable-column name="email" prop="email" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span (click)="sorting(column.name)">
                {{column.name}}
            </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.email}}
        </ng-template>
    </ngx-datatable-column>

    <!-- Phonenumber column -->
    <ngx-datatable-column name="phoneNumber" prop="phoneNumber" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.phoneNumber}}
        </ng-template>
    </ngx-datatable-column>

    <!-- State column -->
    <ngx-datatable-column name="state" prop="state" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.state}}
        </ng-template>
    </ngx-datatable-column>

    <!-- Country column -->
    <ngx-datatable-column name="country" prop="country" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.country}}
        </ng-template>
    </ngx-datatable-column>

    <!-- company-name column -->
    <ngx-datatable-column name="companyName" prop="companyName" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span (click)="sorting(column.name)">
                {{column.name}}
            </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.companyName}}
        </ng-template>
    </ngx-datatable-column>

    <!-- Delete action column -->
    <ngx-datatable-column name="Action" prop="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button (click)="distroy(row.fullName)" class="border-0 bg-transparent"><mat-icon>delete</mat-icon></button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>


<mat-paginator style="background-color: transparent;" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="page"
    [pageSize]="itemsPerPage" [length]="admins.length" (page)="onPageChange($event)"
    aria-label="Select page of sellers"></mat-paginator>