<div class="table">
    <h5 class="m-4">Basic Table</h5>
    <table class="my-custom-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>FullName</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>State</th>
                <th>Country</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
        
            <tr *ngFor="let data of admins">
                <td>{{data.id}}</td>
                <td>{{data.fullName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phoneNumber}}</td>
                <td>{{data.state}}</td>
                <td>{{data.country}}</td>
                <td>{{data.companyName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div class="bg-white m-4 border-0 rounded p-2">
    <h5 class="m-4">Theme Table</h5>
    <p class="m-4">use <span style="color: rgb(248, 12, 150);">theme</span> prop to switch table to the dark theme.</p>
    <table mat-table [dataSource]="dataSource" style="background-color: #d0d1d3; color: white;">
       
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

      
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

       
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div> -->