<div>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
      <mat-icon>search</mat-icon>
    </button>
    <input type="text" name="search" id="search" disabled placeholder="Search">
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with notifications icon">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with person icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with person icon" style="margin-right: 10px;" (click)="logout()">
      <mat-icon>input</mat-icon>
    </button>
  </mat-toolbar>
</div>