.typography {
    height: 750px;
    width: 95%;
    background-color: white;
    /* color: rgb(134, 134, 134); */
    border-radius: 10px;
    color: #4d5f71;
}

.heading-tags {
    margin-left: 20px;
}

p {
    margin-top: 15px;
}

.text-1 {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 700;
}

.text-2 {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 500;
}

.text-3 {
    font-size: 3rem;
    line-height: 3.125rem;
    font-weight: 400;
}

.text-4 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.text-5{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
}

.text-6{
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
}