

<div class="typography card border-0 m-4">
    <h4 class="m-4">Headlines</h4>

    <div class="heading-tags">
        <h1 class="text-1">Heading 1</h1>
        <p>font-size: 6rem / line-height: 6rem / font-weight: 300</p>
        <h2 class="text-2">Heading 2</h2>
        <p>font-size: 3.75rem / line-height: 3.75rem / font-weight: 300</p>
        <h3 class="text-3">Heading 3</h3>
        <p>font-size: 3rem / line-height: 3.125rem / font-weight: 400</p>
        <h4 class="text-4">Heading 4</h4>
        <p>font-size: 2.125rem / line-height: 2.5rem / font-weight: 400</p>
        <h5 class="text-5">Heading 5</h5>
        <p>font-size: 1.5rem / line-height: 2rem / font-weight: 400</p>
        <h6 class="text-6">Heading 6</h6>
        <p>font-size: 1.25rem / line-height: 2rem / font-weight: 500</p>
    </div>

</div>