<div class="d-flex justify-content-center align-item-center">
    <div class="login-form">
        <h2 class="mt-4 text-center">{{login}}</h2>
        <h4 class="m-4">Welcome to sneat! 👋🏻</h4>
        <p class="m-4">Please sign-in to your account and start the adventure</p>

        <form>
            <input type="email" name="email" placeholder="johndoe@email.com"  class="input">
            <div class="d-flex">
                <input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="*****" class="input">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" class="hide-btn">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex m-2">
                        <input type="checkbox" name="checkbox">
                       <p>Remender me</p> 
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="m-4" style="color: blueviolet; float: right;">forget Password ?</p>
                </div>
            </div>
        </form>

        <button mat-raised-button color="primary" class="m-4 login-btn">Login</button>
        
        <div class="d-flex" style="margin-left: 60px;">
            <p>New on our platform? </p>
            <span style="color: blueviolet;margin-top: 10px;">Create an account</span>
        </div>

    </div>
</div>