<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div *ngIf="!is404Page">
                <app-navbar></app-navbar>
            </div>

        </div>
        <div class="col-10 ">
            <div  *ngIf="!is404Page">
                <app-header></app-header>
            </div>
            
            <router-outlet></router-outlet>
            
            <div  *ngIf="!is404Page">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>