<div class="d-flex justify-content-center align-item-center">
    <div class="signup-form">
        <h2 class="mt-4 text-center">sneat</h2>
        <h4 class="m-4">Adventure starts here 🚀</h4>
        <p class="m-4">Make your app management easy and fun!</p>

        <form>
            <input type="text" name="name" placeholder="john" class="input">
            <input type="email" name="email" placeholder="johndoe@email.com" class="input">
            <div class="d-flex">
                <input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="*****" class="input">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" class="hide-btn">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <div class="d-flex m-2">
                <input type="checkbox" name="checkbox">
                <p>I agree to <span> privacy policy & terms</span></p>
            </div>

        </form>

        <button mat-raised-button color="primary" class="m-4 signup-btn">SIGN UP</button>

        <div class="d-flex" style="margin-left: 60px;">
            <p>Already have an account? </p>
            <span style="margin-top: 10px;" >Sign in instead</span>
        </div>

    </div>
</div>