<div class="d-flex justify-content-center align-item-center">
    <div class="signup-form">
        <h2 class="mt-4 text-center">sneat</h2>
        <h4 class="m-4">Adventure starts here 🚀</h4>
        <p class="m-4">Make your app management easy and fun!</p>

        <form #registerForm="ngForm" (ngSubmit)="SignUp()" [formGroup]="RegisterForm">
            <input type="text" name="UserName" formControlName="username" placeholder="john" [(ngModel)]="UserName"
                class="input">
            <small>
                <span *ngIf="username && username.invalid && username.touched" class="text-danger">
                    UserName is required at least 5 characters 
                </span>
            </small>
            <input type="email" name="Email" placeholder="johndoe@email.com" class="input" [(ngModel)]="Email" 
                formControlName="email">
            <small>
                <span *ngIf="email && email.invalid && email.touched" class="text-danger">
                    Email is required
                </span>
            </small>
            <div class="d-flex">
                <input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="********" class="input"
                    name="Password" [(ngModel)]="Password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" class="hide-btn">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <small>
                <span *ngIf="password && password.invalid && password.touched" class="text-danger">
                    Password should be at least 8 characters long
                </span>
            </small>
            <div class="d-flex m-2">
                <input type="checkbox" name="checkbox">
                <p>I agree to <span> privacy policy & terms</span></p>
            </div>

            <button class="btn btn-primary m-4 signup-btn" type="submit button" [disabled]="RegisterForm.invalid">
                signup
            </button>
        </form>

        <div class="d-flex" style="margin-left: 60px;">
            Already have an account?
            <a routerLink="/"> Sign in instead</a>
        </div>

    </div>
</div>