
<h6 class="m-4">Basic Cards</h6>

<div class="d-flex justify-content-between">
    <mat-card class="example-card">
        <img mat-card-image src="https://sneat-vuetify-admin-template.vercel.app/assets/1-bcaf6cc6.png" alt="cheery">
        <mat-card-content>
            <h6 class="mt-2">Influencing The Influencer</h6>
            <p class="mt-4">
                Cancun is back, better than ever! Over a hundred Mexico resorts have reopened and the state tourism
                minister predicts Cancun will draw as many visitors in 2006 as it did two years ago.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card h-50">
        <img mat-card-image src="https://sneat-vuetify-admin-template.vercel.app/assets/2-131ad046.png" alt="sky">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-content class="mt-4">
            <h6>Robert Meyer</h6>
            <p>London, UK</p>
            <button mat-raised-button color="primary" class="primary">Send Request</button>
            <p style="margin-bottom: 0;margin-top: 30px;">18 mutual friends</p>
            <div mat-card-avatar class="image1 image"></div>
            <div mat-card-avatar class="image2 image"></div>
            <div mat-card-avatar class="image3 image"></div>
            <div mat-card-avatar class="image4 image"></div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="https://sneat-vuetify-admin-template.vercel.app/assets/3-d1fa1b62.png" height="50%"
            alt="ship">
        <mat-card-content>
            <h6 class="mt-2">Popular Uses Of The Internet</h6>
            <p class="mt-4">
                Although cards can support multiple actions, UI controls, and an overflow menu.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button style="color: #7275ff;" class="m-2">DETAILS</button>
        </mat-card-actions>
    </mat-card>
</div>
