<div class="row">
    <!-- <div class="col-md-6">
        <div class="bg-white m-4 border-0 rounded p-2">
            <h4>Horizontal Form</h4>
            <form #horizontalForm="ngForm">
                <div class="form-group" style="margin: 40px;">
                    <label>First Name</label>
                    <input type="text" name="name" placeholder="john" class="h-form" ngModel><br>
                </div>
                <div class="form-group" style="margin: 40px;">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="john123@gmail.com" class="h-form" ngModel><br>
                </div>
                <div class="form-group" style="margin: 40px;">
                    <label>Mobile</label>
                    <input type="tel" name="mobile" placeholder="123456789" class="h-form" ngModel><br>
                </div>
                <div class="form-group" style="margin: 40px;">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="*****" class="h-form" ngModel><br>
                </div>
            </form>

            <div class="d-flex">
                <button mat-raised-button color="primary" class="m-4"
                    (click)="submitForm(horizontalForm.value)">SUBMIT</button>
                <button mat-stroked-button color="Light" class="m-4" (click)="resetForm(horizontalForm)">RESET</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="bg-white m-4 border-0 rounded p-2" style="height: 443px;">
            <h4>Vertical Form with Icons</h4>
            <form #verticalForm="ngForm">
                <div class="d-flex">
                    <mat-icon>account_circle</mat-icon>
                    <input type="text" name="name" placeholder="firstname" class="v-form" ngModel>
                </div>
                <div class="d-flex">
                    <mat-icon>mail</mat-icon>
                    <input type="email" name="email" placeholder="email" class="v-form" ngModel>
                </div>
                <div class="d-flex">
                    <mat-icon>call</mat-icon>
                    <input type="tel" name="mobile" placeholder="123456789" class="v-form" ngModel>
                </div>
                <div class="d-flex">
                    <mat-icon>lock_open</mat-icon>
                    <input type="password" name="password" placeholder="password" class="v-form" ngModel>
                </div>
            </form>

            <div class="d-flex">
                <button mat-raised-button color="primary" class="m-4"
                    (click)="submitForm(verticalForm.value)">SUBMIT</button>
                <button mat-stroked-button color="Light" class="m-4" (click)="resetForm(verticalForm)">RESET</button>
            </div>
        </div>
    </div> -->

    <!-- multiple form  -->
    <div class="multiple mt-4">
        <h4>Enter Admin details</h4>
        <div class="row">
            <form #forms="ngForm" [formGroup]="AdminForm">
                <!-- <div class="d-flex"> -->
                    <input type="text" name="fullName" placeholder="Enter your name" class="m-form" ngModel
                        formControlName="FullName">
                        <small>
                            <span *ngIf="FullName && FullName.invalid && FullName.touched" class="text-danger">
                                FullName is required
                            </span>
                        </small>
                    <!-- <input type="text" name="name" placeholder="Lastname" class="m-form" ngModel> -->
                <!-- </div> -->
                <div class="d-flex">

                    <!-- <div> -->
                        <input type="email" name="email" placeholder="Enter your privacy email" class="m-form" ngModel
                            formControlName="email">
                        <small>
                            <span *ngIf="email && email.invalid && email.touched" class="text-danger">
                                Email is required
                            </span>
                        </small>
                    <!-- </div> -->

                    <!-- <div> -->
                        <input type="tel" name="PhoneNumber" placeholder="Enter your valid number" class="m-form"
                            ngModel formControlName="PhoneNumber">

                        <small>
                            <span *ngIf="PhoneNumber && PhoneNumber.invalid && PhoneNumber.touched" class="text-danger">
                                PhoneNumber is required
                            </span>
                        </small>
                    <!-- </div> -->

                </div>
                <div class="d-flex">
                    <input type="text" name="State" placeholder="enter your current state" class="m-form" ngModel
                        formControlName="State">
                        <small>
                            <span *ngIf="State && State.invalid && State.touched" class="text-danger">
                                State is required
                            </span>
                        </small>
                    
                    <input type="text" name="country" placeholder="Enter you country name" class="m-form" ngModel
                        formControlName="Country">
                        <small>
                            <span *ngIf="Country && Country.invalid && Country.touched" class="text-danger">
                                Country is required
                            </span>
                        </small>
                </div>
                <!-- <div class="d-flex"> -->
                    <div class="form-group m-form">
                        <label for="exampleFormControlSelect1">Company Name</label>
                        <!-- <mat-icon>arrow_drop_down</mat-icon> -->
                        <select class="form-control" id="exampleFormControlSelect1" name="CompanyName" ngModel
                            style="margin-top: 45px;" formControlName="CompanyName">
                            <option>Spa Paragon</option>
                            <option>GameDay Catering</option>
                            <option> Exploration Kids</option>
                            <option> Yoga Professor</option>
                        </select>
                        <small>
                            <span *ngIf="CompanyName && CompanyName.invalid && CompanyName.touched" class="text-danger">
                                CompanyName is required
                            </span>
                        </small>
                    </div>
                <!-- </div> -->
            </form>
        </div>
        <div class="d-flex mt-3">
            <button mat-raised-button color="primary" class="m-4" (click)="submitForm(forms.value)"
                [disabled]="AdminForm.invalid">SUBMIT</button>
            <!-- <button mat-stroked-button color="Light" class="m-4"
                (click)="clearform()" [disabled]="AdminForm.invalid">RESET</button> -->
        </div>
    </div>
</div>